<% provide(:title, 'Help') %>
<h1>Properties</h1>
<p>
  Get help to sell or buy your products on our website.
</p>
<p>
Why is housing inventory so low right now?

</p>
<p>
Buy a home near one of the area's best schools
</p>
<p>
Ready to buy?
Find your dream home here.
</p>
